body {
  background-color: aliceblue;
  font-family: Verdana, Arial, Tahoma, sans-serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
}

ul .recipe-link {
  color: rgb(138, 37, 37);
  text-decoration-color: rgb(102, 0, 0);
  font-size: 18px;
}