* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #627254;
  color: #31363F;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  text-align: left;
}


h1 {
  font-size: 38px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

ul {
  list-style: square inside;
  margin: 12px;
}



.container {
  background-color: #DDDDDD;
  border: 3px solid #31363F;
  max-width: 1800px;
  margin: 24px;
  padding: 14px 18px;
}


.recipe-link {
  color: #76885B;
  text-decoration-color: #76885B;
  font-size: 20px;
  padding: 4px;
  margin: 4px;
  display: inline-block;
}
